# deps
node_modules
.pnpm-store

# build
.next
dist
build
out
.turbo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode
.idea
.DS_Store

# test
coverage
playwright-report
test-results
.nyc_output

# brainstorm sessions (mockups)
.superpowers

# MSW
public/mockServiceWorker.js
!**/apps/*/public/mockServiceWorker.js
